.add-project-container {
    background-color: #000;
    margin: 100px;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}

.add-project-container h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

.add-project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.add-project-form input, select {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    min-width: 80%;
    max-width: 50%;
}

.add-project-form select, option {
    cursor: pointer;
}

.add-project-form button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}